.menuBlock {
  width: 10%;
}

.menuTitle {
  width: 40px;
}

.menuList {
  list-style: none;
  padding: 5px;
  margin-top: 0;
  margin-right: 5px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  right: 0;
}

.li {
  padding: 8px 0 5px 10px;
}

.link {
  text-decoration: none;
  padding: 3px;
}

.link:hover {
  background-color: rgba(152, 118, 84, 0.7);
  border-radius: 10px;
  color: white;
}

.linkActive {
  background-color: rgba(152, 118, 84, 0.7);
  border-radius: 10px;
  color: white;
}

.hideMenu {
  max-height: 0;
  overflow: hidden;
  /*transition: max-height 0.2s linear;*/
  animation: roll-up 0.5s;
}

@keyframes roll-up {
  from {
    max-height: 100%;
  }
  to {
    max-height: 0;
  }
}

.brown {
  background-color: rgba(152, 118, 84, 0.3);
  transition-duration: 0.5s;
  transition-property: background-color;
}

.white {
  background-color: white;
  transition-duration: 0.5s;
  transition-property: background-color;
}

