@font-face {
  font-family: Monotype Cors;
  src: url('../fonts/monotypecorsiva.ttf');
}

body {
  background: url("../public/backgound-image.jpg") no-repeat;
  background-size: cover;
  font-family: Monotype Cors, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

a, button, input, select {
  cursor: pointer;
}

