.mainWrapper {
    position: relative;
    width: 80%;
    height: 700px;
    background-color: white;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.header a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
}

.headerTitle {
    width: 50%;
    text-align: center;
}

.libraryName {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    width: 70%;
}

.authorization {
    font-size: 18px;
    width: 100px;
    height: 45px;
    border: 2px solid rgb(152, 118, 84);
    background-color: rgba(152, 118, 84, 0.7);
    color: white;
}

.authorization a {
    width: 100%;
    text-align: center;
}

.searchForm {
    width: 60%;
    margin: 0 auto;
    background-color: rgba(152, 118, 84, 0.3);
    border-radius: 5px;
}

.searchTitle {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.inputTitle {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

.input {
    width: 80%;
    padding: 5px;
    border: 2px solid rgba(152, 118, 84, 0.7);
    border-radius: 5px;
}

.input:hover {
    border: 2px solid rgb(152, 118, 84);
}

.input:focus {
    outline: none;
    border: 2px solid rgb(152, 118, 84);
}

.inputYear {
    width: 15%;
}

.checkbox{
    display: none;
}
.checkbox + .label{
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid rgba(152, 118, 84, 0.7);
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
.checkbox + .label:before{
    font-size: 15px;
}
.checkbox:checked + .label:before{
    content: '✔';
    color: rgb(152, 118, 84);
}

.buttonGroup {
    text-align: center;
}

.button {
    width: 20%;
    padding: 5px;
    border: 2px solid rgb(152, 118, 84);
    border-radius: 5px;
    background-color: inherit;
    margin-right: 10px;
}

.booksContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.book {
    width: 300px;
    padding: 10px;
    border: 2px solid rgb(152, 118, 84);
    border-radius: 5px;
    background-color: rgba(152, 118, 84, 0.3);
    cursor: pointer;
}

.bookNotAvailable {
    background-color: rgba(128, 128, 128, 0.3);
    cursor: not-allowed;
    color: gray;
}

.bookTitle {
    font-size: 25px;
    text-align: center;
}

.nothingSearched {
    font-size: 20px;
}




